<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet"
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
       crossorigin="anonymous"
     />
  </head>
<body>

<section id='box'>
<h1>enter your name here<h1>
<form id='game'action="/names" method="post">
<input class="b1" type = "text" name="player">
<input class="b1" type="submit" value="Submit">
</form>
    </form>
<br>
<br>
<section id='competitors'>
<% if @player.name == "" %> Anonymous vs. Computer
<%else %> <%= @player.name %> vs. Computer <%end%> 
</section>
<section id='choices'>
<div class="grid-container"> 

<div class="grid-item">
  <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Rock">
      <img height="150px" width="150px" src="/images/rock_rps.svg" alt="Rock">
    </button>
  </form>
</div>
<div class="grid-item">
  <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Paper">
      <img height="150px" width="150px" src="/images/paper_rps.svg" alt="Paper">
    </button>
  </form>
</div>
<div class="grid-item">
  <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Scissors">
      <img height="150px" width="150px" src="/images/scissors_rps.svg" alt="Scissors">
    </button>
  </form>
</div>
<div class="grid-item">
  <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Lizard">
      <img height="150px" width="150px" src="/images/lizard_rps.svg" alt="Lizard">
    </button>
  </form>
</div>
<div class="grid-item">
  <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Spock">
      <img height="150px" width="150px" src="/images/spock_rps.svg" alt="Spock">
    </button>
  </form>
</div>
</div>
</section>
<br>
<section id = "result">
<% if @player.name == "" %> 
You chose <%= @choice %>
<%else %> 
<span class = "b1"><%= @player.name %> </span> chose <img height="150px" width="150px" src="/images/<%= @game.choice %>_rps.svg" 
<%end %>
<br>
Your opponent chose <img height="150px" width="150px" src="/images/<%= @opp_choice %>_rps.svg" 
</section>
<br>
<section>
<%= @opp %>
<br>
<a href = "/play">Play Again?</a>
</section>

</section>
</body>
</html>