<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet"
       href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
       integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
       crossorigin="anonymous"
     />
  </head>
<body>
<hr>
<div class="row">
  <div class="column">
     <div class ="play">
    <% if @player.name == "" %> Anonymous vs. Computer
    <%else %> <%= @player.name %> vs. Computer <%end%> 
  </div>
  <div><a href = "/">new player?</a></div>
  </div>
  <div class="column">
    <div class ="play">
       <div style="color: white; background: black; border-radius:20px;"><%= @opp %></div>
    </div>
  </div>
</div>
<hr>
<div class="row hands">
  <div class="column1">
  <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Rock" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/rock_rps.svg" alt="Rock">
    </button>
  </form>
  </div>
  <div class="column1">
      <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Paper" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/paper_rps.svg" alt="Paper">
    </button>
  </form>
  </div>
   <div class="column1">
    <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Scissors" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/scissors_rps.svg" alt="Scissors">
    </button>
  </form>
  </div>
  <div class="column1">
    <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Lizard" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/lizard_rps.svg" alt="Lizard">
    </button>
  </form>
  </div>
   <div class="column1">
     <form action="/play" method="post">
    <button class ="weaponbuttons" type="submit" name="choose" value="Spock" style="
    background: transparent;
    border: none;
">
      <img height="150px" width="150px" src="/images/spock_rps.svg" alt="Spock">
    </button>
  </form>
  </div>
</div>

<hr>
<div class="row" style="font-size:40px">
  <div style ="background:pink; border-radius:20px;" class="column">
    <% if @player.name == "" %> 
      You <span style="font-size:20px">chose </span> <img height="150px" width="150px" src="/images/<%= @game.choice %>_rps.svg"> 
    <%else %> 
    <%= @player.name %> <span style="font-size:20px">chose </span> <img height="150px" width="150px" src="/images/<%= @game.choice %>_rps.svg"> 
<%end %>
  </div>
  <div style ="background:pink; border-radius:20px;" class="column">
     Computer <span style="font-size:20px">chose </span>  <img height="150px" width="150px" src="/images/<%= @opp_choice %>_rps.svg"> 
  </div>
</div>

<hr>
</body>
</html>